body,html{
    width: 100%;
}

body{
    display: grid;
    margin: 0.5em;
    grid-gap: 0.5em;
    grid-template:auto-flow min-content/1fr;
    grid:       "header"
                "aside"
                "nav"
                "main"
                "pies"
                "footer";
}

header{grid-area: header;}
aside{grid-area: aside;}
nav{grid-area: nav;}
main{grid-area: main;}
footer{grid-area: footer;}


@media screen and (min-width:400px) {
 
    body{
        grid-template: auto-fill min-content/2fr 1fr;
        grid:"header header"
               "aside nav"
               "main main"
               "pies pies"
               "footer footer" ;


    }

   
}

.pies{
    grid-area: pies;
    display: grid;
    grid: auto-flow min-content/repeat(12, 1fr);
    grid-gap: 0.5em;
}

.pies img{
    grid-column: span 12;
}

@media screen and (min-width:480px) {
    .pies img{
        width: 200px;
        grid-column: span 6;
    }

    #pie3{
        width: 200px;
        height: 130px;
    }
}

@media screen and (min-width:643px ) {

    body{
        grid-template: auto-fill min-content/repeat(1fr 2fr);
        grid:"header header"
             "aside main" 
             "nav main" 
             "pies pies"
             "footer footer";
    }

    .pies img{
        width:200px;
        grid-column: span 4;
    }
    #pie3{
        width: 200px;
        height: 130px;
    }

    
}

@media screen and (min-width:793px) {
    
    body{
        grid-template: auto-fill min-content/repeat(1fr 2fr);
        grid:"header header "
             "aside main" 
             "nav main" 
             "... pies"
             "footer footer";
    }

    .pie img{
        width: auto;
        height: auto;
        grid-column: span 12;
        justify-content: center;
    }

    
}



@media screen and (min-width:1020px) {
    
    body{
        grid-template: auto-fill min-content/repeat(1fr 2fr 1fr);
        grid:"header header header"
             "aside main  nav" 
             "... pies ..."
             "footer footer footer";
    }

    .pie img{
        width: 180px;
        height: 320px;
        
        grid-column: span 3;
    }

    
}